@media screen and (max-width: 1024px) {
    .create-market-title {
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 42px;
        color: #f6f6fe;
    }

    .create-market-content {
        display: block;

        &__info {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.25px;
            color: #f6f6fe;
            width: 90%;
        }
    }

    .progress-tracker-controls {
        padding: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .react-select__control {
        border: 2px solid #0c1c68;
        background: #0c1c68;
        mix-blend-mode: normal;
    }

    .create-market-title {
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 42px;
        color: #f6f6fe;
        height: 84px;
        width: 90%;
        display: block;
    }

    .create-market-content {
        display: block;

        &__wrapper {
            width: 100%;
        }

        &__info {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.25px;
            color: #f6f6fe;
            width: 100%;
            display: block;
        }

        &__parameters {
            display: block !important;
            &__field {
                width: 100%;
                margin-bottom: 20px !important;
            }
        }

        &__double-fields {
            width: 101% !important;
            margin-right: 0px !important;
            &__field {
                margin-bottom: 20px !important;
            }
        }

        &__multi-fields-parent {
            position: relative;
            display: inline-block;
            width: 105%;
            margin-bottom: 15px;

            &__double-input-fields {
                position: absolute;
                display: block;
                margin-top: 80px;
                width: 96%;
                &__field {
                    width: 46.5%;
                    float: left;
                    overflow: hidden;
                    margin-top: 10px;
                    position: absolute;
                    &--last {
                        margin-left: 50% !important;
                        width: 46.5%;
                        float: left;
                        overflow: hidden;
                        margin-top: 10px;
                        position: absolute;
                    }
                }
            }

            &__checkbox {
                width: 8%;
                margin-bottom: 33px;
                margin-top: 100px;
                float: left;
            }

            &__slider {
                width: 90%;
                margin-top: 87px;
                float: left;
            }
        }
    }

    .progress-tracker-controls {
        margin-bottom: 25px !important;
        &__button-div-responsive {
            display: block !important;

            &__upper {
                margin-bottom: 10px;
                width: 100%;
            }

            &__bottom {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}
