.dapp-header {
    &__logoWrapper {
        display: none !important;
    }
    &__nav {
        overflow: auto !important;
        height: 100%;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .dapp-header {
        justify-content: space-between !important;
        padding-left: 0 !important;
        padding-right: 50px !important;

        &__nav {
            display: none;
            &--show {
                display: block;
                right: 0;
                left: unset !important;
                width: 290px !important;
                height: 100%;
                overflow: auto !important;
                z-index: 1001 !important;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    width: 0px;
                }
                span {
                    display: block !important;
                }
            }
        }
        &__logoWrapper {
            display: flex !important;
            &__burger {
                right: 10px !important;
            }
            &__logo {
                height: 32px !important;
                width: 134px !important;
                margin-right: 6px !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .dapp-header {
        height: 156px !important;
        padding-right: 0 !important;
        flex-direction: column;

        margin-top: 40px !important;
        &__logoWrapper {
            align-self: flex-start;
            &__burger {
                top: 44px !important;
            }
        }
        &__buttonsWrapper {
            flex-direction: column-reverse;
            .dapp-header__userInfo {
                margin: 20px 0;
            }
            button {
                margin: auto;
            }
        }
    }
}
