.markets-desktop {
    @media screen and (max-width: 1024px) {
        display: none !important;
    }
}

@media screen and (min-width: 1025px) {
    .markets-mobile {
        display: none !important;
    }
}

.markets-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;

    &__sortWrapper {
        width: 47% !important;
        align-self: flex-end;
        margin-top: 16px;
        margin-right: 0;
    }

    &__search {
        margin: 20px 0px !important;
        & > input {
            width: 100%;
        }
    }

    &__sorting-dropdown {
        width: 100% !important;
    }

    @media screen and (max-width: 767px) {
        padding: 0;
        &__filters {
            flex-direction: column;
            & > div {
                margin: 8px 0 !important;
            }
        }

        &__sortWrapper {
            width: 100% !important;
            align-self: flex-start;
        }
    }
}
