.market {
    @media (max-width: 1250px) {
        &__overview {
            &__cell {
                padding: 18px 10px;
            }
            &__difference {
                display: none;
            }
            &--mobile {
                max-height: 225px;
                &__section {
                    background: #04045a;
                    &:first-child {
                        padding: 16px 14px 10px 14px;
                        border-top-left-radius: 23px;
                        border-top-right-radius: 23px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        border-bottom: 1.5px solid rgba(1, 38, 81, 0.8);
                    }
                    &:nth-child(2) {
                        padding: 8px 14px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        border-bottom: 1.5px solid rgba(1, 38, 81, 0.8);
                    }
                    &:last-child {
                        padding: 8px 0;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 23px;
                        border-bottom-right-radius: 23px;
                        border-bottom: 1.5px solid rgba(1, 38, 81, 0.8);
                        text-align: center;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        padding-left: 30px;
        &__customizeBtn {
            display: none;
        }
        &__container {
            border: none;
            border-radius: 0;
            overflow: unset;
            &__tabs {
                height: 50px;
            }
            &__tab {
                z-index: unset;
                transition: 0.2s !important;
                &.idle {
                    background-color: transparent;
                    height: 52px;
                    border: 1px solid #748bc6;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    letter-spacing: 0.25px;
                    color: #748bc6;
                    top: 10px;
                    &:first-child {
                        left: 8px;
                        width: calc(40% - 8px);
                        border-right: none;
                    }
                    &:nth-child(2) {
                        left: 60%;
                        width: calc(40% - 8px);
                        border-left: none;
                    }
                }
                img {
                    display: none;
                }
                &.selected {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.15px;
                    color: #f6f6fe;
                    background-color: #121776;
                    border: none;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        margin: -1px;
                        border-radius: inherit;
                        background: #ca91dc;
                    }
                }
            }
        }
        &__gridWrapper {
            z-index: unset;
            background-color: #121776;
            top: 0;
            padding-top: 10px;
            padding-bottom: 75px;
            .xBtn {
                display: none;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -1px;
                border-radius: inherit;
                background: linear-gradient(#ca91dc, #6ac1d5);
            }
        }
    }

    @media (max-width: 900px) {
        .grid-component-header {
            padding: 0;
            padding-left: 16px;
            white-space: pre;
            text-transform: capitalize;
        }

        &__orderbook,
        &__priceChart,
        &__traddngView,
        &__yourTx,
        &__recentTx {
            padding-top: 0;
        }
    }

    @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (max-width: 512px) {
        &__tradeTabBtn {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 14px 0px !important;
            & > button {
                padding: 6px 24px !important;
                margin: auto !important;
            }
        }

        .grid-component-header {
            font-size: 16px;
        }

        &__maturity {
            .grid-component-header {
                font-size: 20px;
            }
        }

        &__orderbook {
            &__headerBtn {
                padding: 4px 11px !important;
                margin: 0 5px;
            }
            &__userBtn {
                padding: 4px 11px !important;
                margin: 0 5px;
            }
        }

        .marketTab {
            flex-direction: column;
            .react-select__menu {
                z-index: 10;
            }
            & > div {
                width: 100%;
            }
            &__amountWrapper {
                justify-content: space-between;
            }
            &__summary {
                padding: 0;
            }
        }
        .limitTab {
            &__select {
                width: 100%;
                margin-right: 0;
                & + div {
                    display: none;
                }
            }
            &__slider {
                flex-direction: column;
                & > div {
                    width: 100%;
                    margin-top: 0px;
                    margin-bottom: 10px;
                }
            }
            &__summary {
                padding: 0;
                & > div {
                    margin: 0;
                }
            }
        }
        .mintTab {
            &__summary {
                padding: 0;
            }
            &__slider {
                display: grid;
                grid-template-columns: repeat(12, calc(100% / 12));

                &--firstRow {
                    grid-row: 1;
                    width: 100%;
                    &:first-child {
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                    &:nth-child(2) {
                        grid-column-start: 2;
                        grid-column-end: 13;
                        margin-top: 8px;
                        width: 100%;
                    }
                }
                &--secondRow {
                    grid-row: 2;
                    width: 100%;
                    margin-top: 10px;
                    &:nth-child(3) {
                        grid-column-start: 1;
                        grid-column-end: 7;
                        width: calc(100% - 4px);
                    }
                    &:nth-child(4) {
                        grid-column-start: 7;
                        grid-column-end: 13;
                        margin-left: 8px;
                        width: calc(100% - 4px);
                    }
                }
            }
        }
    }

    &__header {
    }
    &__content {
        width: 100%;
    }
}
