/* TEMP CSS until design is ready */

button {
    text-transform: uppercase !important;
}
.ui.menu {
    margin-top: 10px !important;
}
.ui.menu a {
    text-transform: uppercase !important;
}
.ui.card .header {
    display: flex !important;
    justify-content: space-between;
}
.ui.card .header span {
    display: flex !important;
    align-items: center;
}
.ui.card .header span svg {
    margin-right: 10px;
}
.ui.card,
.ui.cards > .card {
    width: 271px;
}
.ui.progress {
    margin-bottom: 0 !important;
    background-color: #d94454;
}
.ui.message {
    padding: 0.5em 1.5em;
}
.ui.form .field > label {
    text-transform: uppercase;
}
::placeholder,
.divider.default.text,
.accordion .title {
    text-transform: uppercase !important;
}

.sidebar.visible + .pusher {
    margin-left: 475px;
}

.ui.right.visible.sidebar {
    box-shadow: none;
}

.ui.styled.accordion .title {
    color: rgba(0, 0, 0, 0.95);
}

.icon {
    font-family: Icons !important;
}

.grid-component-header {
    cursor: move;
    height: 40px;
    line-height: 30px;
    font-weight: 600;
    font-size: 1.0769230769rem;
    background: #eee;
    border: 1px solid #bbb;
    border-bottom: none;
    padding: 5px 0 5px 10px;
    display: flex;
    flex: 0 0 auto;
    text-transform: uppercase;
    justify-content: space-between;
}

.selectable.table tr:hover,
.icon.cancel:hover,
.icon.close:hover,
.button-label:hover {
    cursor: pointer;
}

.ui.floating.label {
    margin: 0 !important;
}
