@font-face {
    font-family: 'basis33';
    src: local('basis33'), url(../assets/fonts/Basis33/basis33.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../assets/fonts/Nunito/Nunito.ttf) format('truetype');
}

@font-face {
    font-family: 'NunitoExtraLight';
    src: local('NunitoExtraLight'), url(../assets/fonts/Nunito/static/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: local('NunitoSemiBold'), url(../assets/fonts/Nunito/static/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'), url(../assets/fonts/PlayfairDisplay/Playfair-Display.ttf) format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans'), url(../assets/fonts/FiraSans/FiraSans-Regular.ttf) format('truetype');
}