.social-icon {
    display: inline-block;
    font-family: SocialIcons !important;
    vertical-align: middle;
    font-size: 20px;
}

.icon--google:before {
    content: '\0041';
}

.icon--apple:before {
    content: '\0042';
}

.icon--discord:before {
    content: '\0043';
}

.icon--github:before {
    content: '\0044';
}

.icon--x:before {
    content: '\0045';
}

.icon--qr-code::before {
    content: '\004D';
}

.icon--wallet::before {
    content: '\0047';
}

.icon--visa::before {
    content: '\004A';
}
.icon--master::before {
    content: '\004B';
}
.icon--applepay::before {
    content: '\0048';
}
.icon--googlepay::before {
    content: '\0049';
}
