.white {
    color: #f6f6fe;
}

.pale-grey {
    color: #f6f6fe;
}

.dark {
    color: #04045a;
}

.dusty {
    color: #748bc6;
}

.grey {
    color: #b8c6e5;
}

.green {
    color: #4fbf67;
}

.red {
    color: #c62937;
}

.warning {
    color: orange;
}
