.currency-icon {
    display: inline-block;
    font-family: Currencies !important;
    vertical-align: middle;
    font-size: 24px;
    color: var(--color-white);
}

.currency-icon--link::before {
    content: '\0042';
}

.currency-icon--bnb:before {
    content: '\004C';
}

.currency-icon--matic:before {
    content: '\004D';
}

.currency-icon--snx::before {
    content: '\004e';
}

.currency-icon--btc::before {
    content: '\0050';
}

.currency-icon--op::before {
    content: '\0053';
}

.currency-icon--eth::before {
    content: '\0055';
}

.currency-icon--s::before {
    content: '\005A';
}

.currency-icon--xau::before {
    content: '\0062';
}

.currency-icon--xag::before {
    content: '\0063';
}

.currency-icon--arb::before {
    content: '\0065';
}
