.react-datepicker {
    display: flex !important;
    border: none !important;
    border-radius: unset !important;
    background: transparent !important;
}

.react-datepicker__month-container {
    width: 323px;
    height: 263px;
    background: #f6f6fe;
    border-radius: 10px;
    padding-top: 21px;
}

.react-datepicker__header {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.react-datepicker__month {
    margin: 0 !important;
}

.react-datepicker__current-month {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 32px;
    letter-spacing: 0.35px;
    color: #04045a !important;
}

.react-datepicker__day-name {
    font-weight: bold !important;
    font-size: 10px !important;
    line-height: 16px;
    letter-spacing: 1px;
    color: #04045a !important;
    text-transform: uppercase;
}

.react-datepicker__day {
    font-weight: bold !important;
    font-size: 13px !important;
    height: 24px !important;
    letter-spacing: 0.4px;
    color: #04045a !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.react-datepicker__week,
.react-datepicker__day-names {
    padding: 0 51px;
}

.react-datepicker__week .react-datepicker__day--selected,
.react-datepicker__week .react-datepicker__day--keyboard-selected,
.react-datepicker__week .react-datepicker__day--range-start {
    background: #44e1e2 !important;
    border: 1.5px solid #04045a !important;
    border-radius: 50% !important;
    width: 1.7rem !important;
    margin: 0.166rem !important;
    padding: 0;
    z-index: 2 !important;
}

.react-datepicker__day--disabled {
    color: #3c3844 !important;
}

.react-datepicker__day--in-range {
    position: relative;
    background: #75c9ef !important;
    z-index: 1 !important;
}

.react-datepicker__day--in-range:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.react-datepicker__day--in-range:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.react-datepicker__navigation {
    top: 135px !important;
    width: 28px !important;
    height: 28px !important;
    border: none !important;
}

.react-datepicker__navigation--previous {
    background-image: url('../assets/images/arrow-left.svg') !important;
}

.react-datepicker__navigation--next {
    right: 145px !important;
    background-image: url('../assets/images/arrow-right.svg') !important;
}

.react-datepicker__time-container {
    border: none !important;
    width: 135px !important;
    height: 263px !important;
}

.react-datepicker-time__header {
    display: none;
}

.react-datepicker__time {
    height: 100% !important;
    background: #f6f6fe;
    border-radius: 10px;
}
.react-datepicker__time-box {
    width: 100% !important;
    padding-top: 16px;
    padding-bottom: 9px;
    height: 100% !important;
}

.react-datepicker__time-list {
    height: 100% !important;
    position: relative;
}

.react-datepicker__time-list-item {
    width: 94px !important;
    border: 1px solid #04045a !important;
    border-radius: 10px !important;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 3px !important;
    color: #04045a !important;
}

.react-datepicker__time-list-item--selected {
    background: #44e1e2 !important;
}

.react-datepicker__time-list-item:hover {
    border: 1px solid #44e1e2 !important;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
    background: #04045a !important;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
    background: #f6f6fe !important;
}
