@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(../assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(../assets/fonts/Inter/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Icons';
    src: local('Icons'), url(../assets/fonts/ThalesIcons/icons.ttf) format('truetype');
}

@font-face {
    font-family: 'Currencies';
    src: local('Currencies'), url(../assets/fonts/ThalesIcons/currencies.ttf) format('truetype');
}

@font-face {
    font-family: 'SidebarIcons';
    src: local('SidebarIcons'), url(../assets/fonts/ThalesIcons/sidebar.ttf) format('truetype');
}

@font-face {
    font-family: 'Homepage Icons';
    src: local('Homepage Icons'), url(../assets/fonts/HomepageIcons/homepage.ttf) format('truetype');
}

@font-face {
    font-family: 'RoyaleAvatars';
    src: local('RoyaleAvatars'), url(../assets/fonts/ThalesIcons/royale-avatars.ttf) format('truetype');
}

@font-face {
    font-family: 'ThalesIcons';
    src: local('ThalesIcons'), url(../assets/fonts/ThalesIcons/Thales2022.ttf) format('truetype');
}

@font-face {
    font-family: 'SansationLight';
    src: local('SansationLight'), url(../assets/fonts/SansationLight/Sansation-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Sansation';
    src: local('Sansation'), url(../assets/fonts/SansationLight/Sansation-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'SansationBold';
    src: local('SansationBold'), url(../assets/fonts/SansationLight/Sansation-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: local('VT323'), url(../assets/fonts/VT323/VT323-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'basis33';
    src: local('basis33'), url(../assets/fonts/Basis33/basis33.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../assets/fonts/Nunito/Nunito.ttf) format('truetype');
}

@font-face {
    font-family: 'NunitoExtraLight';
    src: local('NunitoExtraLight'), url(../assets/fonts/Nunito/static/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: local('NunitoSemiBold'), url(../assets/fonts/Nunito/static/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display'), url(../assets/fonts/PlayfairDisplay/Playfair-Display.ttf) format('truetype');
}

@font-face {
    font-family: 'Titillium Regular';
    src: local('TitilliumRegular'), url(../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Titillium Light';
    src: local('TitilliumLight'), url(../assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf) format('truetype');
}
