#landing-hero {
    position: relative;
}

#landing-hero > canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#landing-hero > div {
    position: relative;
    z-index: 2;
}
