.icon {
    display: inline-block;
    font-family: Icons !important;
    vertical-align: middle;
    font-size: 20px;
    color: var(--color);
}

.icon--royale-logo:before {
    content: '\0061';
}

.icon--thales-logo:before {
    content: '\0062';
}

.icon--logo:before {
    content: '\0063';
}

.icon--ex-mark:before {
    content: '\0064';
}

.icon--warning:before {
    content: '\0065';
}

.icon--alive:before {
    content: '\0066';
}

.icon--dead:before {
    content: '\0067';
}

.icon--left:before {
    content: '\0068';
}

.icon--double-left:before {
    content: '\0069';
}

.icon--double-right:before {
    content: '\006A';
}

.icon--right:before {
    content: '\006B';
}

.icon--x-sign:before {
    content: '\006C';
}

.icon--dead-avatar:before {
    content: '\006D';
}

.icon--unverified:before {
    content: '\006E';
}

.icon--unsigned:before {
    content: '\006F';
}

.icon--double-arrow:before {
    content: '\0070';
}

.icon--arrow-down:before {
    content: '\0071';
}

.icon--arrow-up:before {
    content: '\0072';
}

.icon--user-avatar:before {
    content: '\0073';
}

.icon--wallet:before {
    content: '\0074';
}

.icon--discord:before {
    content: '\0075';
}

.icon--b-theme:before {
    content: '\0076';
}

.icon--g-theme:before {
    content: '\0077';
}

.icon--chn:before {
    content: '\0078';
}
.icon--eng:before {
    content: '\0079';
}

.icon--rus:before {
    content: '\007A';
}
