.icon {
    display: inline-block;
    font-family: Icons !important;
    color: white;
    font-size: 20px;
}

.icon--logo:before {
    content: '\f004';
}

.icon--right:before {
    content: '\006B';
}

.icon--left:before {
    content: '\0068';
}
