@font-face {
    font-family: 'Titillium Web';
    src: local('Titillium Web'), url(../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Titillium Web' !important;
    font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield !important;
}
