/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0)
        env(safe-area-inset-left, 0);
    overflow-x: hidden !important;
    padding-right: 0 !important;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto' !important;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
    scrollbar-color: #f7f7f7 #1b314f;
    scrollbar-width: thin;
    &.dark-theme {
        scrollbar-color: #a1e1b4 #133326;
    }
}

*::-webkit-scrollbar {
    border-radius: 8px;
    width: var(--scrollbar-width, 10px);
}
*::-webkit-scrollbar-track {
    border-radius: 8px;
    background: var(--color-wrapper, #2b3139);
}
*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--color, #03dac6);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

#root {
    height: 100vh;
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);

    --color-primary: #181a20;
    --color-secondary: #2b3139;
    --color-secondary-hover: #2a2e33;
    --color-tertiary: #1b1c33;
    --color-highlight: #79b1ff;
    --color-highlight-2: rgba(121, 177, 255, 0.6);
    --color-white: #f4f4f4;

    --color-text: #808997;

    // --color-primary: #1e1e1e;
    // --color-secondary: #2b3139;
    // --color-tertiary: #848e9c;
    // --color-highlight: #03dac6;
    // --color-white: #ffffff;

    &.collapse {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

@import './fonts.css';
@import './overrides.css';
@import './text.css';
@import './colors.css';
@import './datepicker.css';
@import './hero.css';
@import './medias/market-options.css';
@import './medias/landing-page.css';
@import './icons.css';
@import './sidebar-icons.css';
@import './thales-icons.css';
@import './royale-avatars.css';
@import './currencies.css';
