@font-face {
    font-family: 'Titillium Web';
    src: local('Titillium Web'), url(../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Titillium Web' !important;
    font-style: normal;
}

body {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

@import './text.css';
@import './colors.css';
