.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker-wrapper input {
    height: 56px;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 32px !important;
    color: #04045a !important;
}

.select-override > div:first-of-type {
    height: 56px;
}

.select-override > div {
    font-weight: bold;
    font-size: 18px !important;
    line-height: 32px !important;
    color: #04045a !important;
}
