.royale-avatar {
    display: inline-block;
    font-family: RoyaleAvatars !important;
    vertical-align: middle;
    font-size: 44px;
    color: var(--color-white);
}

.royale-avatar--0:before {
    content: '\0048';
}

.royale-avatar--1:before {
    content: '\0049';
}

.royale-avatar--2:before {
    content: '\004A';
}

.royale-avatar--3:before {
    content: '\004B';
}

.royale-avatar--4:before {
    content: '\004C';
}

.royale-avatar--5:before {
    content: '\004D';
}

.royale-avatar--6:before {
    content: '\004E';
}

.royale-avatar--7:before {
    content: '\004F';
}

.royale-avatar--8:before {
    content: '\0050';
}

.royale-avatar--9:before {
    content: '\0052';
}
