.hot-markets {
    &__title {
        font-size: 39px;
    }
    &__cards {
        z-index: 0;
        &.animate {
            left: -376px;
        }
        &.default {
            justify-content: center;
        }

        &.next {
            transition: left 1s;
            left: -752px;
        }
        &.previous {
            transition: left 1s;
            left: 0;
        }
    }
}
@media screen and (max-width: 1350px) {
    .hot-markets {
        &__desktop > div {
            max-width: 752px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .hot-markets {
        padding: 50px 0 0;
        width: 100%;

        &__desktop > div {
            max-width: 712px;
            min-width: 712px;
        }

        &__cards {
            &.animate {
                left: -366px;
            }
            &.next {
                left: -722px;
            }
            &.previous {
                left: -10px;
            }
        }

        &__title {
            font-size: 31px;
            padding-left: 37px;
        }

        &__card:first-child > div {
            margin: 20px 10px 20px 20px !important;
        }
        &__card:last-child > div {
            margin: 20px 20px 20px 10px !important;
        }
        &__card:only-child > div {
            margin: 20px 10px 20px 10px !important;
        }
        &__card > div {
            margin: 20px 10px 20px 10px !important;
        }

        &__arrow {
            width: 12px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .hot-markets {
        padding: 20px 0;
        &__desktop > div {
            max-width: 352px;
            min-width: 352px;
        }
        &__cards {
            &__cards {
                &.animate {
                    left: -352px;
                }
                &.next {
                    left: -704px;
                }
                &.previous {
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .hot-markets {
        padding: 20px 0;
        &__desktop > div {
            max-width: 300px;
            min-width: 300px;
        }
        &__cards {
            &.animate {
                left: -7%;
            }
        }
        &__card > div {
            max-width: 100%;
            min-width: 100%;
        }
    }
}
