.wrong-network-modal-font {
    font-family: Sansation !important;
    color: #04045a;
}
.wrong-network-dialog-icon {
    color: #04045a !important;
    font-size: 20px !important;
    position: absolute;
    display: inline-block !important;

    &--left {
        margin-right: 59%;
        @media screen and (max-width: 450px) {
            margin-right: 82%;
        }
    }

    &--right {
        margin-left: 4%;
        @media screen and (max-width: 450px) {
            margin-left: 85%;
        }
    }

    &--params {
        margin-left: 5%;
        @media screen and (max-width: 450px) {
            margin-left: 10%;
        }
    }
}
