/* TEMP CSS until design is ready */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

button {
    text-transform: uppercase !important;
}
.ui.menu {
    margin-top: 10px !important;
}
.ui.menu a {
    text-transform: uppercase !important;
}
.ui.card .header {
    display: flex !important;
    justify-content: space-between;
}
.ui.card .header span {
    display: flex !important;
    align-items: center;
}
.ui.card .header span svg {
    margin-right: 10px;
}
.ui.card,
.ui.cards > .card {
    width: 271px;
}
.ui.progress {
    margin-bottom: 0 !important;
    background-color: #d94454;
}
.ui.message {
    padding: 0.5em 1.5em;
}
.ui.table thead th {
    text-transform: uppercase !important;
}
