.font-sansation {
    font-family: Sansation !important;
}

.user-info-royale-modal {
    @media screen and (max-width: 600px) {
        width: 100% !important;
        &__text {
            padding: 3 1.5%;
        }
    }
}
